body {
  background-image: url('src/background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  overflow: hidden;

  font-family: 'Barlow Condensed';
}

.logo { 
  width: 700px;
  padding-top: 15%;
}

#main-div {
  min-height: 100vh;
  display: none;
  flex-direction: column;
  width: 100%;
}

#main-div > * {
  padding: 20px;
}

#header-div {
  list-style: none;
  display: flex;
  justify-content: space-between;
  height: 40px;

  margin-bottom: 30px;

  box-shadow: inset 0px 0px 400px 110px rgba(0, 0, 0, .7);
}

#header-div > li {
  text-transform: uppercase;
  color: white;
  font-size: 20px;

  border-left: solid 2px white;

  width: 25%;

  display: flex;
  align-items: center;
  justify-content: center;
}

#header-div > li:first-of-type {
  border-left: solid 0px white;
}

#header-div > li:hover {
  color: rgb(247, 175, 32);
  text-decoration: underline rgb(247, 175, 32);
  text-underline-offset: 4px;
  font-size: 21px;
}

#content-div {
  flex-grow: 1;
  padding-left: 300px;
  padding-right: 300px;
}

.projects-div {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

#projects-div-images { 
  align-self: center;
  justify-self: center;

  grid-area: 1 / 2 / 3 / 3; 
  width: 600px;

  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

#projects-div-title { 
  align-self: center;
  justify-self: center;

  grid-area: 1 / 1 / 2 / 2; 
  width: auto;

  color: rgb(247, 175, 32);
  text-transform: uppercase;
  font-size: 100px;
  padding: 10px;

  text-align: center;
}

#projects-div-title > div {

  background:
    linear-gradient(to right, white 4px, transparent 4px) 0 0,
    linear-gradient(to left, white 4px, transparent 4px) 100% 100%,
    linear-gradient(to bottom, white 4px, transparent 4px) 0 0,
    linear-gradient(to top, white 4px, transparent 4px) 100% 100%;

  background-repeat: no-repeat;
  background-size: 20px 20px;

  padding: 10px;
  padding-left: 20px;
}

#projects-div-description { 
  align-self: center;
  justify-self: center;

  grid-area: 2 / 1 / 3 / 2; 
  width: auto;

  font-size: 60px;
  color: white;

  text-align: center;
}

.project-image {
  max-height: 400px;
  max-width: 400px;

  align-self: center;
  justify-self: center;
  margin: 20px;

  border: 5px solid gold;
  transition: transform .5s ease;
}

.project-image:hover {
  transform: scale(1.2)
}
