html, body { height: 100%; }

body {
  /* Set background image */
  background-image: url('src/background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;

  /* Set font family */
  font-family: 'Barlow Condensed';

  /* Hide scrollbar */
  overflow: hidden;

  margin: 0px;
}


#main-div {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;
}


#welcome-page-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#logo-img { 
  width: 600px;
}

#welcome-page-enter-div {
  color: white;
  text-transform: uppercase; 
  text-align: center;
  font-size: 30px;

  /* width: 100%; */

  border: 2px solid white;
  padding: 5px 40px;
  margin: 40px;
}

#welcome-page-enter-div:hover {
  cursor: pointer;
}


#content-div {
  display: none;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}


#header-div {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 30px;
  box-shadow: inset 0px 0px 400px 110px rgba(0, 0, 0, .7);
}

#menu-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 60%;
}

#menu-list > li {
  text-transform: uppercase;
  color: white;
  font-size: 20px;

  border-left: solid 2px white;

  width: 25%;

  display: flex;
  align-items: center;
  justify-content: center;
}

#menu-list > li:first-of-type {
  border-left: solid 0px white;
}

#menu-list > li:hover {
  color: rgb(247, 175, 32);
  text-decoration: underline rgb(247, 175, 32);
  text-underline-offset: 4px;
  cursor: default;
}

#logo-header-img { 
  height: 80px;
}


#pages-div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  display: none;
  flex-direction: row;

  align-self: center;
  justify-self: center;
  justify-content: space-around;

  gap: 15%;
}

.content-left {
  flex-direction: column;
  width: 600px;

  align-self: center;
  justify-self: center;
}

.content-title { 
  width: auto;

  color: rgb(247, 175, 32);
  text-transform: uppercase;
  font-size: 100px;
  padding: 10px;

  text-align: center;
}

.content-title > div {
  background:
    linear-gradient(to right, white 4px, transparent 4px) 0 0,
    linear-gradient(to left, white 4px, transparent 4px) 100% 100%,
    linear-gradient(to bottom, white 4px, transparent 4px) 0 0,
    linear-gradient(to top, white 4px, transparent 4px) 100% 100%;

  background-repeat: no-repeat;
  background-size: 20px 20px;

  padding: 10px;
}

.content-description { 
  font-size: 60px;
  color: white;

  text-align: center;
}

.content-right {
  flex-direction: column;
  align-self: center;
  justify-self: center;
}


.content-images { 
  display: grid;
  grid-template-columns: 50% 50%; /* Two columns, each 50% */
  grid-template-rows: auto auto; /* Two rows */
  gap: 10px; /* Adjust the gap between grid items if needed */
  width: 100%; /* Full width of the page */
}

.contact-images { 
  display: grid;
  grid-template-columns: 50% 50%; /* Two columns, each 50% */
  grid-template-rows: auto auto; /* Two rows */
  gap: 2px;
}

.project-image {
  max-height: 400px;
  max-width: 400px;

  align-self: center;
  justify-self: center;
  margin: 15px;

  border: 5px solid rgb(247, 175, 32);
  transition: transform .5s ease;
}

.project-image:hover {
  transform: scale(1.15)
}


.contact-small {
  transition: transform .5s ease;
}


.contact-small:hover {
  transform: scale(1.15)
}

#content-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-image {
  height: 500px;

  align-self: center;
  justify-self: center;
  margin: 15px;

  transition: transform .5s ease;
}

.card-image:hover {
  transform: scale(1.15)
}

#cards-top {
  color: white;
  font-size: 40px;
}

#cards-bottom {
  color: white;
  font-size: 20px;
}

#cards-images {
  display: flex;
  flex-direction: row;;
}


#offer-div {
  display: flex;
}

#contact-div {
  display: none;
}


#footer-div {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  padding: 30px;
  box-shadow: inset 0px 0px 400px 110px rgba(0, 0, 0, .7);
  gap: 200px;
}

.footer-image {
  height: 75px;
  margin-right: 20px;
}


.footer-first {
  display: flex;
}

.footer-text {
  display: flex;
  flex-direction: column;
}

.footer-text-first {
  text-transform: uppercase;
  font-size: 30px;
  color: rgb(247, 175, 32);
}

.footer-text-second {
  font-size: 20px;
  color: white;
  font-weight: bold;
}


@media screen and (max-width: 1700px) {

  html, body { height: auto; }

  body {
    overflow-x: hidden;
    overflow-y: scroll;
  }

  .content {
    flex-direction: column;
    gap: 30px;
  }

  .content-left {
    width: auto;
  }

  .content-images {
    display: flex;
    flex-direction: column;
  }

  #content-cards {
    display: flex;
    flex-direction: column;
  }

  #cards-images {
    flex-direction: column;
  }
}